<!DOCTYPE html>
<html>
<head>
	<title>Fwitter</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
  <form action="/submit_tweet" method="POST">
    <input type="text" name="username" placeholder="Username">
    <br />
    <textarea id="tweet" name="tweet" placeholder="Tweet" maxlength="140"></textarea>
    <br />
    <br />
    <input type="submit" id="submit" value="Submit">
  </form>
</body>
</html>
