<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head></head>
  <body>
  </body>
=======
<head>
	<title>Fwitter</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>

</body>
>>>>>>> 7d689702194234ed81b5d8b1dce681fd8dbc8bf8
</html>