<div class="userBody">
  <h1>Log in</h1>
  <p class="lead">Welcome back to Fwitter!</p>
  <div class="userForm">
    <form action="/login" method="POST">
      <!--<div class="input-group">
        <div class="input-group-addon">@</div>-->
        <input type="text" name="username" class="form-control" placeholder="Username" />
      <!--</div>-->
      <input type="password" name="password" class="form-control" placeholder="Password" />
      <br />      
      <input type="submit" class="btn btn-primary" placeholder="Sign up" />
    </form>
  </div>
</div>