<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Fwitter</h1>
     Any similarties to Twitter are purely coincidental
     <p><%= "#{@tweet_4.username} says:  #{@tweet_4.content}" %></p>
  </body>
  
</html>