<!DOCTYPE html>
<html>
  <head>
	  <link rel="stylesheet" type="text/css" href="./css/style.css">
  </head>
  <body>
    <h1>Fwitter</h1>
     Any similarties to Twitter are purely coincidental
  </body>
  
</html>